!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title AdminLTE | Dashboard
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/

    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"    
    / Ionicons
    = stylesheet_link_tag "//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css"
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
      = javascript_include_tag "//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body.skin-blue
    / header logo: style can be found in header.less
    %header.header
      %a.logo{:href => "index.html"}
        / Add the class icon to your logo image or logo icon to add the margining
        AdminLTE
      / Header Navbar: style can be found in header.less
      %nav.navbar.navbar-static-top{:role => "navigation"}
        / Sidebar toggle button
        %a.navbar-btn.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-right
          %ul.nav.navbar-nav
            / User Account: style can be found in dropdown.less
            %li.dropdown.user.user-menu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span
                  = current_user.name
                  %i.caret
              %ul.dropdown-menu
                %li.user-footer
                  .pull-left
                    = edit_link edit_user_path(current_user), style: 'color: #357ca5'
                  .pull-right
                    %a.btn.btn-default.btn-flat{:href => "#"} Sair
    .wrapper.row-offcanvas.row-offcanvas-left
      / Left side column. contains the logo and sidebar
      %aside.left-side.sidebar-offcanvas
        / sidebar: style can be found in sidebar.less
        %section.sidebar
          / sidebar menu: : style can be found in sidebar.less
          %ul.sidebar-menu
            %li{class: "#{params[:controller] == 'home' ? 'active' : ''}"}
              = link_to icon('calendar', 'Calendário'), root_path
            %li.treeview{class: "#{params[:controller] == 'rooms' ? 'active' : ''}"}
              %a{:href => "#"}
                %i.fa.fa-folder
                %span Administração
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li{class: "#{params[:controller] == 'users' ? 'active' : ''}"}= link_to icon('angle-double-right', 'Usuários'), users_path
                %li{class: "#{params[:controller] == 'rooms' ? 'active' : ''}"}= link_to icon('angle-double-right', 'Salas'), rooms_path
        / /.sidebar
      / Right side column. Contains the navbar and content of the page
      %aside.right-side
        / Content Header (Page header)
        %section.content-header
          %h1
            = yield :section_title
            %small
              = yield :page_title
        / Main content
        %section.content
          = bootstrap_flash
          = yield
        / /.content
      / /.right-side
    / ./wrapper