!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title AdminLTE | Dashboard
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/

    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"    
    = stylesheet_link_tag "//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css"
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
      = javascript_include_tag "//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body.skin-blue
    %header.header
      %a.logo{:href => "index.html"}
        Simple Calendar
      %nav.navbar.navbar-static-top{:role => "navigation"}
        %a.navbar-btn.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-right
          %ul.nav.navbar-nav
            %li.dropdown.user.user-menu
              %a.pull-left{:href => "#"}
                %span
                  = current_user.name
              .pull-right{style: 'margin-right: 15px; margin-top: 15px;'}
                = link_to icon('sign-out'), destroy_user_session_path(authenticity_token: form_authenticity_token), method: :delete
    .wrapper.row-offcanvas.row-offcanvas-left
      %aside.left-side.sidebar-offcanvas
        %section.sidebar
          / TODO: implementar o menu de forma adequada com a gem simple_navigation
          / https://github.com/codeplant/simple-navigation
          %ul.sidebar-menu
            %li{class: "#{params[:controller] == 'home' ? 'active' : ''}"}
              = link_to root_path do
                %i.fa.fa-calendar
                %span Calendário
            %li.treeview{class: "#{['admin/rooms', 'admin/users'].include?(params[:controller]) ? 'active' : ''}"}
              %a{:href => "#"}
                %i.fa.fa-folder
                %span Administração
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li{class: "#{params[:controller] == 'admin/users' ? 'active' : ''}"}= link_to icon('angle-double-right', 'Usuários'), admin_users_path
                %li{class: "#{params[:controller] == 'admin/rooms' ? 'active' : ''}"}= link_to icon('angle-double-right', 'Salas'), admin_rooms_path
      %aside.right-side
        %section.content-header
          %h1
            = yield :section_title
            %small
              = yield :page_title
        %section.content
          #flash-messages
            = bootstrap_flash
          = yield
  = javascript_include_tag "AdminLTE/app"